

.chart rect {
    fill: steelblue;
}

.chart text {
    fill: black;
    font: 10px sans-serif;
    text-anchor: end;
}

.axis text {
    font: 10px sans-serif;
    fill: black;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.arc text {
    font: 10px sans-serif;
    text-anchor: middle;
}

.arc path {
    stroke: #fff;
}

.line-chart .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
  }

.line-chart text {
    fill: black;
}